[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
llama-index = "*"
llama-index-embeddings-huggingface = "*"
llama-index-llms-openai = "*"
openai = "*"
transformers = "*"
flask = "*"
pandas = "*"
llama-index-llms-gemini = "*"
typing-extensions = "*"
llama-index-embeddings-openai = "*"
